<!--
=========================================================
* BLK Design System- v1.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/blk-design-system
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <title>Productos Tigueraso</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="./assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="product-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="./index.php" rel="tooltip" title="Ofertas de eventos para tod@s" data-placement="bottom" target="_blank">
              <span>•TIGERASO•</span>
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a>
                    •TIGERASO•
                  </a>
                </div>
                <div class="col-6 collapse-close text-right">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav">
              <li class="dropdown nav-item">
                <a href="/results.php" class="nav-link btn btn-default d-none d-lg-block">
                  <i class="fa fa-cogs d-lg-none d-xl-none"></i> Todos los eventos
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- End Navbar -->
    <div class="wrapper" style="padding-top: 170px;">
        <div class="product">
            <div class="container">
                <div class="row">
                    <!--Imagenes del producto-->
                    <div class="col-lg-6 col-md-12 ">
                        <div class="card-image">
                              {% for img in selected_event.images %}
                              <img class="img rounded" src="{{ img }}">
                              {% endfor %}
                              <img class="img rounded" src="./assets/img/map.png">
                              <img class="img rounded" src="./assets/img/weather.png">
  
                          </div>
                    </div>
                    <!--Descripcion del producto-->
                    <div class="col-lg-6 col-md-12 mx-auto" ALIGN="justify">
                        <h2 class="title">{{ selected_event.name }}</h2>
                        <div class="stats stats-right">
                            <div class="stars text-warning">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <p class="d-inline">(0 likes)</p>
                            </div>
                        </div>
                        <br>
                        <h5 class="category">Precio Nuevo</h5>
                        {% if selected_event.precio_nuevo == 0 %}
                            <h5 class="price"> Free </h5>
                        {% else %}
                            <h5 class="price">{{ selected_event.precio_nuevo }}€</h5>
                        {% endif %}
                        <h5 class="category">Precio Venta</h5>
                        {% if selected_event.precio_venta == 0 %}
                            <h5 class="price"> Free </h5>
                        {% else %}
                            <h5 class="price">{{ selected_event.precio_venta }}€</h5>
                        {% endif %}
                        <h5 class="category">Cantidad</h5>
                        <p class="description">{{ selected_event.cantidad }}</p>
                        <h5 class="category">Fecha publicacion oferta</h5>
                        <p class="description">{{ selected_event.startDate}} -> {{ selected_event.startTime}}</p>
                        <h5 class="category">Fecha fin de oferta</h5>
                        <p class="description">{{ selected_event.endDate}} -> {{ selected_event.endTime}}</p>
                        <h5 class="category">Direccion evento</h5>
                        <p class="description">{{ selected_event.geo1.address }} , {{ selected_event.geo1.city }} , {{ selected_event.geo1.country }} </p>
                        <h5 class="category">Descripcion</h5>
                        <p class="description">{{ selected_event.description }}</p>
                        <br>
                        <div class="row compras">
                            <div class="col-lg-4 col-md-4">
                                <button class="btn btn-warning ml-3">Adquirir oferta &nbsp;<i
                                    class="tim-icons icon-cart"></i></button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

      <div class="related-products">
            <div class="container">
              <div class="col-md-8">
                <h2 class="title">También le puede interesar</h2>
              </div>
              <div class="row">
                {% for auto in top_vehicles %}
                <a href="{{ auto.url }}">
                <div class="col-lg-3 col-md-6">
                  <div class="card card-product">
                    <div class="card-image">
                      <img class="img rounded" src="{{ auto.images[0] }}">
                    </div>
                    <div class="card-body">
                        <h6 class="category text-warning">Vehiculo</h6>
                      <h4 class="card-title">
                        <a href="javascript:;" class="card-link text-white">{{ auto.name }}</a>
                      </h4>
                      <div class="card-description" align="justify" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;">
                        {{ auto.description }}
                      </div>
                      <div class="card-footer">
                        <div class="price-container">
                          {% if auto.precio_venta == 0 %}
                            <h5 class="price"> Free </h5>
                          {% else %}
                            <span class="price">{{ auto.precio_venta }}€</span>
                          {% endif %}
                        </div>
                        <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="More Info">
                          <i class="tim-icons icon-simple-add"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>

        <div class="related-products">
            <div class="container">
              <div class="col-md-8">
                <h2 class="title">Recomendaciones</h2>
              </div>
              <div class="row">
                {% for event in top_events %}
                <a href="/product.php?id={{ event.identificador }}">
                <div class="col-lg-3 col-md-6">
                  <div class="card card-product">
                    <div class="card-image">
                      <img class="img rounded" src="{{ event.images[0] }}">
                    </div>
                    <div class="card-body">
                        <h6 class="category text-warning">Evento</h6>
                      <h4 class="card-title">
                        <a href="javascript:;" class="card-link text-white">{{ event.name }}</a>
                      </h4>
                      <div class="card-description" align="justify" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;">
                        {{ event.description }}
                      </div>
                      <div class="card-footer">
                        <div class="price-container">
                          {% if event.precio_venta == 0 %}
                            <h5 class="price"> Free </h5>
                          {% else %}
                            <span class="price">{{ event.precio_venta }}€</span>
                          {% endif %}
                        </div>
                        <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="More Info">
                          <i class="tim-icons icon-simple-add"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="title">•TIGERASO•</h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="./index.php" class="nav-link">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./results.php" class="nav-link">
                                    Resultados
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="title">Practica Tecnologia Multimedia</h4>
                        <h5 class="title">Universitat de les Illes Balears</h5>
                        <h5 class="title">Curso 2019-2020</h5>
                        <p class="description">©Adrian Castellanos y Michelle Vlad</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="./assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="./assets/js/plugins/chartjs.min.js"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="./assets/js/plugins/moment.min.js"></script>
    <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="./assets/demo/demo.js"></script>
    <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
    <script src="./assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            blackKit.initDatePicker();
            blackKit.initSliders();
        });

        function scrollToDownload() {

            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }
    </script>
</body>

</html>